<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="shape shape-style-1  tecno-hero">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="text-white lead">Una plataforma para ser instructor</h1>
              <div class="btn-wrapper mt-5">
                <a [routerLink]="['/aplicar']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-app"></i></span>
                  <span class="btn-inner--text">Aplicar al programa</span>
                </a>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
<!--      <div class="separator separator-bottom separator-skew zindex-100">-->
<!--        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
<!--          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>-->
<!--        </svg>-->
<!--      </div>-->
    </section>
  </div>
<!--  <app-sections></app-sections>-->
</main>

<div class="container">
  <h2 class="mt-lg mb-5 text-center">
    <span>Programa de instructores</span>
  </h2>

  <div class="row py-3 align-items-center">
    <div class="col-sm-3">
      <small class="text-uppercase text-muted font-weight-bold">Antecedentes de Instructores</small>
    </div>
    <div class="col-sm-9">
      <p class="text-justify">
        La Universidad Tecnológica de El Salvador conciente de la necesidad de reforzar el proceso de enseñanza aprendizaje y brindar un soporte adicional a los docentes para la formación y desarrollo de las competencias de cada profesión,
        se propone consolidar y poseer un banco de instructores para dar cobertura a las asignaturas y secciones donde se requiera de sus servicios.
        Se dará atención de manera especial para que el staff de instructores cubra el área básica, con énfasis en los primeros ciclos, de manera que contribuyan al proceso de adaptación de los estudiantes,
        al tiempo que les ayuden con los conocimientos propios de cada carrera.
      </p>
    </div>
  </div>


<!--      <div class="col-sm-3 col-6 mt-5 mt-sm-0 mx-auto">-->
<!--        <img src="./assets/img/brand/logo.png" alt="Raised image" class="img-fluid rounded " style="width: 150px;">-->
<!--      </div>-->

  <div class="row py-3 align-items-center">
    <div class="col-sm-3">
      <small class="text-uppercase text-muted font-weight-bold">Objetivo</small>
    </div>
    <div class="col-sm-9">
      <p class="text-justify">
        Reforzar el aprendizaje de los estudiantes mediante un cuerpo de instructores calificados que apoyen el trabajo del docente en las asignaturas que lo necesiten.
      </p>
    </div>
  </div>


  <div class="row py-3 align-items-center">
    <div class="col-sm-3">
      <small class="text-uppercase text-muted font-weight-bold">Metodología</small>
    </div>
    <div class="col-sm-9">
      <p class="text-justify">
        Designación del Coordinador de instructores en cada Facultad, el cual trabajará de manera directa con los catedráticos.
        Reclutamiento permanente de estudiantes que tengan aptitudes para desempeñarse como instructores, por parte de los catedráticos.
        Solicitar de manera formal a cada docente, la selección de un estudiante con habilidades para desempeñarse como instructor
      </p>
    </div>
  </div>
</div>


